@font-face {
    font-family: 'Kaisen'; 
    src: url('./font/qetod/Qetod.ttf') format('woff2'), 
         url('./font/qetod/Qetod.ttf') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.py-5 {
    padding-top: 40px!important;
}

.text-center {
    font-family:'Kaisen';
    margin-top: 5px;
    font-size: 60px;
}

img{
    border-radius: 30px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price {
    display: flex;
    justify-content: space-between;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    background-color: #ffc116;
    border-radius: 50px;
    font-size: 18px;
}

.nob {
    margin-top: 22px;
}

.card-text{
    font-size: 18px;
    width: 230px;
    height: 50px;
    margin-bottom: 0;
}

.btn{
    position: relative;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;
    background-color: none;
    border: 2px solid #ffc116;
    z-index: 0;
    overflow: hidden;
}

.btn:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background-color: #ffc116;
    border-radius: 50% 50% 0 0;
    z-index: -1;
    transition: 0.8s;
}

.btn-primary{
    --bs-btn-bg:none;
     --bs-btn-border-color: #ffc116;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #ffc116;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.btn:hover::before{
    height: 180%;
}

.btn:hover:active{
    height: 180%;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.fa-circle-question{
    color: #a9a9a9;
}

.fa-regular{
    display: none;
    color: red;
}

.rev{
    color: #adadad;
}

.rev:hover{
    color: #7c7c7c;
}

.rev:visited{
    color: #4e4e4e;
}